<ion-card>
	<ion-card-content no-padding>
		<ion-grid>
			<ion-row>
				<ion-col width-80>
					<span>{{ten.houseDesc}}</span><br/>
					<span>{{ten.topAddressLine}}</span><br/>
					<span>{{ten.defaultCommsValue}}</span>
				</ion-col>
				<ion-col width-20>
					<a *ngIf="ten.hasEmail" href="mailto: {{ten.defaultCommsValue}}">
						<button ion-fab color="tertiary">
							<ion-icon name="mail" style="color:white;"></ion-icon>
						</button>
					</a>
					<a *ngIf="ten.hasPhone" href="tel: {{ten.defaultCommsValue}}">
						<button ion-fab color="tertiary">
							<!-- Switch this up based on CommType -->
							<ion-icon name="call" style="color:white;"></ion-icon>
						</button>
					</a>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-card>