ion-list-header.list-header-md {
    margin-bottom: 0px;
}

.list-item-underline {
    border-top: 1px solid lightgray;
}

.has-refresher .scroll-content {
    border-top: 0 !important;
}

// To allow bottom card to be scrolled up in case fab obscures relevant info
.card-margin-bottom {
    margin-bottom: 48px;
}