<ion-header>
	<ion-navbar>
		<button menuToggle ion-button icon-only>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{DateUtils.dateDesc(selectedDate)}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="prevDay()">
				<ion-icon name="arrow-dropleft-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="nextDay()">
				<ion-icon name="arrow-dropright-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="showDatePop($event)">
				<ion-icon name="calendar" color="secondary"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<!-- Card for Daily Totals -->
	<ion-card *ngIf="today && today.shifts && today.shifts.length > 0" no-padding>
		<ion-card-content no-padding>
			<button ion-item>
				<ion-row>
					<ion-col>
						<h2><strong>Total Hours for Today</strong></h2>
					</ion-col>
					<ion-col text-right>
						<h2><strong>{{DateUtils.displayTime(today.totalTime)}}</strong></h2>
					</ion-col>
				</ion-row>
			</button>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="!today">
		<ion-card-content>
			<!-- TODO Where's the COG!? -->
			<span>Retrieving data, please wait...</span>
		</ion-card-content>
	</ion-card>

	<!-- Split into Summary and Booking tabs? -->

	<ion-card *ngIf="today && today.shifts" no-padding>
		<ion-card-content no-padding>
			<div *ngIf="today.shifts.length == 0">
				<ion-card-header>
					<h2>No Shifts for this day</h2>
				</ion-card-header>
			</div>
			<div *ngFor="let shift of today.shifts">
				<ion-card-header no-padding>
					<button ion-item (click)="toggleShift(shift.sequence)">
						<ion-row>
							<ion-col>
								<h2><strong>Shift {{shift.sequence}}</strong></h2>
							</ion-col>
							<ion-col text-center>
								<h2><strong>{{DateUtils.timeFromDate(shift.start)}} - {{DateUtils.timeFromDate(shift.finish)}}</strong></h2>
							</ion-col>
							<ion-col text-right>
								<h2><strong>{{DateUtils.displayTime(shift.shiftMins - shift.unpaidMins)}}</strong></h2>
							</ion-col>
						</ion-row>
					</button>
				</ion-card-header>
				<ion-list *ngIf="shift.visible">
					<button ion-item *ngFor="let bk of shift.bookings" class="list-item-underline" [style.background-color]="bookColor(bk)">
					<booking-card [booking]="bk"></booking-card>
				</button>
				</ion-list>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="today && today.adjustments && today.adjustments.length > 0" class="card-margin-bottom" no-padding>
		<ion-card-content no-padding>
			<ion-card-header no-padding>
				<button ion-item (click)="toggleAdjust()">
					<ion-row>
						<ion-col>
							<h2><strong>Adjustments</strong></h2>
						</ion-col>
						<ion-col text-right>
							<h2><strong>{{today.totalAdjust.hours}}h {{today.totalAdjust.mins}}m</strong></h2>
						</ion-col>
					</ion-row>
				</button>
			</ion-card-header>
			<ion-list *ngIf="today.adjustVisible">
				<button ion-item *ngFor="let adj of today.adjustments" class="list-item-underline" (click)="openAdjust(adj)">
					<ion-grid no-padding>
						<ion-row align-items-center>
							<ion-col width-80>
								<span class="fa-stack" [style.color]="adjStatusColor(adj)">
									<i class="fa fa-circle fa-stack-2x"></i>
									<i *ngIf="adj.authorised" class="fa fa-check fa-stack-1x fa-inverse"></i>
									<i *ngIf="adj.rejected" class="fa fa-times fa-stack-1x fa-inverse"></i>
									<i *ngIf="!adj.authorised && !adj.rejected" class="fa fa-question fa-stack-1x fa-inverse"></i>
								</span>
								<span>{{adj.reason}}</span>
							</ion-col>
							<ion-col width-20 text-right>
								<span>{{adj.hours}}h {{adj.mins}}m</span>
							</ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-fab bottom right #fab>
		<button ion-fab color="secondary"><ion-icon name="pulse"></ion-icon></button>
		<ion-fab-list side="top">
			<!--<button ion-fab color="secondary" text-capitalize>
					<ion-label class="fab-md">Housing Annual Home Visit</ion-label>
					<ion-icon name="home"></ion-icon>
				</button>-->
			<button ion-fab color="secondary" text-capitalize (click)="newAdjust($event, fab)">
					<ion-label class="fab-md">Request Adjustment to Hours</ion-label>
					<ion-icon name="add"></ion-icon>
				</button>
		</ion-fab-list>
	</ion-fab>

</ion-content>