ion-tabs span {
	color: black;
	font-size: 11pt;
	font-weight: bold;
}

ion-tabs a[aria-selected="true"] span {
	color: hotpink;
}

.checklist-header-row {
	background-color: silver;
	// position: fixed;
}

.checklist-header-row ion-label {
	margin: 8px 0px;
}

ion-col ion-radio {
	margin-left: 12px;
}

ion-label {
	color: black!important;
	font-size: 11pt!important;
}

ion-textarea, ion-select, ion-datetime {
	background-color: rgba(225, 225, 225, 0.5);
	font-family: "Century Gothic";
	padding: 8px;
}

ion-input, ion-select, ion-datetime, ion-label {
	padding-left: 8px!important;
}

ion-content#assess_page, ion-content#checklist_page, ion-content#handling_page, ion-content#tile_page {
	margin-top: 56px;
}

ion-card#checklist-float {
	margin-top: 64px;
}

ion-content#checklist_page, ion-content#handling_page, .footer-margin {
	margin-bottom: 64px!important;
}

.card-pad-bottom {
	padding-bottom: 8px;
}

.select-margin-bottom {
	margin-bottom: 8px;
}

.checklist-item-row {
	border-bottom: 1px solid silver;
}

.checklist-item-row > *, .tile-item-row ion-row > * {
	display: flex!important;
	align-content: center!important;
	align-items: center!important;
}

.range-label {
	width: 30%!important;
}

.range-badge {
	margin-left: 10px;
	color: black;
}

.card-head-no-pad {
	padding-bottom: 0px!important;
}

.comm-pref-check {
	margin-left: 24px!important;
	border-top: solid silver 1px!important;
}

ul > li > span {
	color: black;
	font-size: 11pt;
}

ion-item, ion-item > div.item-inner {
	border-bottom: none!important;
}