ion-tabs span {
	color: black;
	font-size: 9pt;
	font-weight: bold;
}

h2 {
	font-family: 'Century Gothic'
}

ion-tabs a[aria-selected="true"] span {
	font-weight: bold!important;
}

.tabs-md[tabsHighlight=true] .tab-highlight {
	background: hotpink;
}

.header-button, button.alert-button {
	box-shadow: 2px 2px silver;
	:first-child {
		margin-right: 8px;
	}
	background-color: #ff80cc!important;
	span {
		color: black;
	}
}

.checklist-header-row {
	background-color: silver;
	// position: fixed;
}

.checklist-header-row ion-label {
	margin: 8px 0px;
}

ion-col ion-radio {
	margin-left: 12px;
}

ion-label {
	color: black!important;
	font-size: 11pt!important;
}

ion-textarea, ion-select, ion-datetime {
	background-color: rgba(225, 225, 225, 0.5);
	font-family: "Century Gothic";
	font-size: 12pt;
	padding: 8px;
}

ion-card-header {
	font-family: 'Century Gothic';
	font-size: 12pt;
}

ion-input, ion-select, ion-datetime, ion-label {
	padding-left: 8px!important;
}

ion-content#assess_page, ion-content#checklist_page, ion-content#handling_page, ion-content#tile_page, ion-content#clevercogs_page {
	margin-top: 56px;
	ion-card {
		padding: 0px 0px 8px 0px;
	}
}

ion-card#checklist-float {
	margin-top: 64px;
}

ion-content#checklist_page, ion-content#handling_page, .footer-margin {
	margin-bottom: 64px!important;
}

.card-pad-bottom {
	padding-bottom: 8px;
}

.select-margin-bottom {
	margin-bottom: 8px;
}

.checklist-item-row {
	border-bottom: 1px solid silver;
}

.checklist-item-row > *, .tile-item-row ion-row > * {
	display: flex!important;
	align-content: center!important;
	align-items: center!important;
}

.range-label {
	width: 30%!important;
}

.range-badge {
	margin-left: 10px;
	color: black;
}

.card-head-no-pad {
	padding-bottom: 0px!important;
}

.comm-pref-check {
	margin-left: 24px!important;
	border-top: solid silver 1px!important;
}

ul > li > span {
	color: black;
	font-size: 11pt;
}

.customAlert .alert-button-group, .select-alert .alert-button-group {
	flex-direction: row;
	justify-content: space-between;
}

// TODO Consider moving custom alert stuff into a separate file
.alert-head {
	padding: 24px 24px 12px 24px;
}

.alert-radio-group {
	border: none!important;
}

.alert-button-group {
	padding-left: 8px!important;
	padding-right: 0px!important;
}

.alert-button-group > * {
	flex: 1 1 auto;
	flex-basis: 0;
	max-width: 50%;
}

button.alert-button span.button-inner {
	text-transform: none;
	font-weight: bold;
	justify-content: center!important;
}

.alert-wrapper {
	max-width: 320px!important;
	ul {
		padding-left: 16px;
		li {
			margin-bottom: 8px;
		}
	}
}

// signature-pad canvas {
// 	width: 100%;
// }

ion-input.ng-invalid, ion-textarea.ng-invalid, ion-select.ng-invalid, ion-datetime.ng-invalid {
	border: 1px solid orangered;
}

ion-label.valid-mess {
	color: orangered!important;
	font-weight: bold;
	position: absolute;
	right: 0px;
}

ion-label[stacked] {
	margin-bottom: 4px!important;
}

.item-inner, .input-has-value {
	box-shadow: none!important;
}

ion-item, ion-item > div.item-inner {
	border-bottom: none!important;
}
