<ion-header>
    <ion-navbar>
        <button menuToggle ion-button icon-only>
			<ion-icon name="menu"></ion-icon>
		</button>
        <ion-title>Week of {{DateUtils.shortDateDesc(weekCommencing)}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showDatePop($event)">
				<ion-icon name="calendar" color="secondary"></ion-icon>
			</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card no-padding>
        <ion-card-content no-padding class="weekly-timekeeping-card">
            <ion-list>
                <button ion-item (click)="toggleWeek()">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h2><strong>Total Hours for Week</strong></h2>
                            </ion-col>
                            <ion-col text-right>
                                <strong>{{weeklyTotalTime()}}</strong>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
                <div *ngIf="showWeek">
                    <dual-column [col1]="'Shift Hours'" [col2]="weeklyShiftHours()"></dual-column>
                    <dual-column [col1]="'Annual Leave'" [col2]="weeklyAnnualLeave()"></dual-column>
                    <dual-column [col1]="'Sickness Absence'" [col2]="weeklySickLeave()"></dual-column>
                    <dual-column [col1]="'Approved Adjustments'"></dual-column>
                    <dual-column [col1]="'Pending Adjustments'"></dual-column>
                    <ion-item *ngIf="showWeek" class="list-item-underline">
                        <ion-row>
                            <ion-col>
                                <ion-buttons end>
                                    <button ion-button color="secondary">
                                        <ion-icon name="checkmark"><span text-capitalize>Approve</span></ion-icon>
                                    </button>
                                </ion-buttons>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </div>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card no-padding class="weekly-timekeeping-days">
        <ion-card-content no-padding>
            <ion-list>
                <button ion-item *ngFor="let day of loc.dayOrder; let i = index" class="list-item-underline" (click)="gotoDay(i)">
                    <ion-grid>
                        <ion-row>
                            <ion-col>{{day}} {{DateUtils.ordOf(DateUtils.adjustDate(weekCommencing, i))}}</ion-col>
                            <ion-col text-right>{{hoursForDay(i)}}</ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-datetime #datePicker hidden="true" displayFormat="DD MMM YYYY" (ionChange)="dateChanged($event)"></ion-datetime>

    <ion-fab bottom left #fab>
        <ion-row>
            <ion-col>
                <button ion-fab mini color="secondary" (click)="prevWeek()">
                        <ion-icon name="arrow-round-back"></ion-icon>
                    </button>
            </ion-col>
            <ion-col>
                <button ion-fab mini color="secondary" (click)="nextWeek()">
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
            </ion-col>
        </ion-row>
    </ion-fab>

</ion-content>