<ion-header>
    <ion-navbar>
        <button menuToggle ion-button icon-only>
			<ion-icon name="menu"></ion-icon>
		</button>
        <ion-title>Week of {{DateUtils.shortDateDesc(weekCommencing)}}</ion-title>
        <!-- <ion-buttons end>
			<button ion-button icon-only (click)="prevDay()">
				<ion-icon name="arrow-dropleft-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="nextDay()">
				<ion-icon name="arrow-dropright-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="showDatePop($event)">
				<ion-icon name="calendar" color="secondary"></ion-icon>
			</button>
		</ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card no-padding>
        <ion-card-content no-padding>
            <ion-list>
                <button ion-item *ngFor="let day of loc.dayOrder; let i = index" class="list-item-underline" (click)="gotoDay(i)">
                    <ion-grid>
                        <ion-row>
                            <ion-col>{{day}} {{DateUtils.ordOf(DateUtils.adjustDate(weekCommencing, i))}}</ion-col>
                            <ion-col text-right>{{hoursForDay(i)}}</ion-col>
                        </ion-row>
                    </ion-grid>
                </button>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>