// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/homepage/homepage";
@import "../pages/initialassess.page/initialassess.page";
@import "../pages/assesstabs.page/assesstabs.page";

ion-icon {
	padding-top: 5px;
	padding-right: 15px;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../../fonts/gothic.ttf') format('truetype');
}
