ion-label {
	color: black!important;
	font-size: 11pt!important;
}

ion-textarea, ion-select, ion-datetime {
	background-color: rgba(225, 225, 225, 0.5);
	font-family: "Century Gothic";
	padding: 8px;
}

ion-input, ion-select, ion-datetime, ion-label {
	padding-left: 8px!important;
}

ion-content#assess_page, ion-content#checklist_page {
	margin-top: 48px;
}

ion-content#checklist_page {
	background-color: white;
	padding-bottom: 56px!important;
}

#checklist_item_row {
	border-bottom: 1px solid silver;
}