<ion-header>
	<ion-navbar>
		<button menuToggle ion-button icon-only>
      <ion-icon name="menu" no-padding></ion-icon>
    </button>
		<ion-title>
			{{client.forename}} {{client.surname}}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content ion-item>
			<ion-icon item-left large name="medkit"></ion-icon>
			<span>Care Plan</span>
		</ion-card-content>
	</ion-card>
	<ion-list inset class="client-sections-list">
		<!--<ion-item>
			<ion-icon item-left large name="medkit"></ion-icon>
			<span>Care Plan</span>
		</ion-item>-->
		<ion-item *ngFor="let need of careNeeds" (click)="gotoCareNeed(need)">
			<span>{{need.outcomeDesc}}</span>
		</ion-item>
	</ion-list>

</ion-content>