<ion-content>
	<ion-list radio-group>
		<ion-list-header>
			<span>Show Tenancies</span>
		</ion-list-header>
		<ion-item>
			<ion-label><span>Only my Patch</span></ion-label>
			<ion-radio checked="true" value="own"></ion-radio>
		</ion-item>
		<ion-item>
			<ion-label><span>Only my Region</span></ion-label>
			<ion-radio value="region"></ion-radio>
		</ion-item>
		<ion-item>
			<ion-label><span>All of Blackwood</span></ion-label>
			<ion-radio value="all"></ion-radio>
		</ion-item>
	</ion-list>
	<ion-buttons end >
		<button secondary ion-button (click)="dismiss()">Ok</button>
	</ion-buttons>
</ion-content>