<ion-header>
	<ion-navbar>
		<ion-title>Care Facilities</ion-title>
		<ion-buttons end>
			<ion-badge color="secondary" class="search-badge">{{search.facilities().length}}</ion-badge>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<search-bar ion-fixed placeholder="Search for places..."></search-bar>
	<div [virtualScroll]="search.facilities()" class="filter-list" approxItemHeight="64px" approxItemWidth="380px">
		<div *virtualItem="let fac" class="facility-card-container">
			<facility-card [fac]="fac" (click)="gotoFacility(fac)"></facility-card>
		</div>
	</div>
</ion-content>