<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
			{{client.forename}} {{client.surname}}
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header no-margin>
			<ion-icon name="document"></ion-icon>
			<span>Add Daily Note</span>
		</ion-card-header>
		<ion-card-content no-margin>
			<ion-list>
				<!--<ion-list-header>
					<span>Add Daily Note</span>
				</ion-list-header>-->
				<ion-item>
					<ion-label stacked>Date &amp; Time</ion-label>
					<ion-datetime [(ngModel)]="selectedDateTime" displayFormat="DD/MM/YYYY HH:mm"></ion-datetime>
					<!--[(ngModel)]="dailyNote.noteDate"-->
				</ion-item>
				<ion-item>
					<ion-label stacked>Select an Outcome</ion-label>
					<ion-select [(ngModel)]="selectedOutcome">
						<ion-option *ngFor="let outcome of outcomes" [value]="outcome">{{outcome.description}}</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Select a Care Need</ion-label>
					<ion-select></ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Your comments</ion-label>
					<ion-textarea rows="8" placeholder="Enter your note here"></ion-textarea>
					<!--[(ngModel)]="dailyNote.comments"-->
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<button class="tool-button" (click)="cancelEntry()">
			<ion-icon name="close" no-padding></ion-icon>
			<span text-capitalize>Cancel</span>
		</button>
		<button class="tool-button" (click)="saveEntry()">
			<ion-icon name="checkmark" no-padding></ion-icon>
			<span text-capitalize>Save</span>
		</button>
	</ion-toolbar>
</ion-footer>