<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu" no-padding></ion-icon>
    </button>
    <ion-title>
		{{client.forename}} {{client.surname}}
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-icon name="medkit"></ion-icon>
			<span>Care Plan</span>
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<button ion-item *ngFor="let need of careNeeds">
					{{need.outcomeDesc}}
				</button>
			</ion-list>
		</ion-card-content>
	</ion-card>

</ion-content>