<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome Home</ion-title>
    <ion-buttons *ngIf="showCloud" end>
        <button ion-button icon-only (click)="showDataServiceStatus()">
            <ion-icon name="cloud-download" [attr.danger]="cloudWarn ? '' : null"></ion-icon>
        </button>
    </ion-buttons>
    <ion-buttons end>
        <button ion-button icon-only (click)="showFilters($event)">
            <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search for people & places..."
        (ionInput)="searchAll($event)"></ion-searchbar>

    <!--<development-stack></development-stack>-->

    <button (click)="toggleDevelopments()" class="button-header">
        <ion-icon name="pin" no-padding></ion-icon><span class="button-text" text-capitalize>Developments</span>
        <ion-badge *ngIf="developments">
            {{developments.length}}
        </ion-badge>
        <ion-icon *ngIf="developments && !showDevelopments" name="arrow-dropdown-circle" secondary no-padding></ion-icon>
        <ion-icon *ngIf="developments && showDevelopments" name="arrow-dropup-circle" secondary no-padding></ion-icon>
    </button>

    <ion-list list-inset *ngIf="developments && showDevelopments" [virtualScroll]="developments" approxItemHeight="68px">
        <button ion-item *virtualItem="let dev" (click)="gotoDevelopment(dev)" class="list-margin shadow-standard">
            <development-card [dev]="dev"></development-card>
        </button>
    </ion-list>

    <button (click)="toggleTenancies()" class="button-header">
        <ion-icon name="people" no-padding></ion-icon><span class="button-text" text-capitalize>Tenancies</span>
        <ion-badge *ngIf="tenancies">
            {{tenancies.length}}
        </ion-badge>
        <ion-icon *ngIf="tenancies && !showTenancies" name="arrow-dropdown-circle" secondary no-padding></ion-icon>
        <ion-icon *ngIf="tenancies && showTenancies" name="arrow-dropup-circle" secondary no-padding></ion-icon>
    </button>

    <ion-list list-inset *ngIf="tenancies && showTenancies" [virtualScroll]="tenancies"
        approxItemHeight="68px">
        <button ion-item *virtualItem="let ten" (click)="gotoTenancy(ten)" class="list-margin shadow-standard">
            <tenancy-card [ten]="ten"></tenancy-card>
        </button>
    </ion-list>

    <!--<button (click)="toggleProperties()" class="button-header">
        <ion-icon name="home" no-padding></ion-icon><span class="button-text" text-capitalize>Properties</span>
        <ion-badge *ngIf="properties">
            {{properties.length}}
        </ion-badge>
        <ion-icon *ngIf="properties && !showProperties" name="arrow-dropdown-circle" secondary no-padding></ion-icon>
        <ion-icon *ngIf="properties && showProperties" name="arrow-dropup-circle" secondary no-padding></ion-icon>
    </button>

    <ion-list list-inset *ngIf="properties && showProperties" [virtualScroll]="properties"
        approxItemHeight="68px">
        <button ion-item *virtualItem="let prop" class="list-margin shadow-standard">
            <property-card [prop]="prop"></property-card>
        </button>
    </ion-list>-->

    <button (click)="toggleFacilities()" class="button-header">
        <ion-icon name="podium" no-padding></ion-icon><span class="button-text" text-capitalize>Facilities</span>
        <ion-badge *ngIf="facilities">
            {{facilities.length}}
        </ion-badge>
        <ion-icon *ngIf="facilities && !showFacilities" name="arrow-dropdown-circle" secondary no-padding></ion-icon>
        <ion-icon *ngIf="facilities && showFacilities" name="arrow-dropup-circle" secondary no-padding></ion-icon>
    </button>

    <ion-list list-inset *ngIf="facilities && showFacilities" [virtualScroll]="facilities" approxItemHeight="23px">
        <button ion-item *virtualItem="let facility" class="list-margin shadow-standard">
            <facility-card [facility]="facility"></facility-card>
        </button>
    </ion-list>

    <button (click)="toggleClients()" class="button-header">
        <ion-icon name="contacts" no-padding></ion-icon><span class="button-text" text-capitalize>Clients</span>
        <ion-badge *ngIf="clients">
            {{clients.length}}
        </ion-badge>
        <ion-icon *ngIf="clients && !showClients" name="arrow-dropdown-circle" secondary no-padding></ion-icon>
        <ion-icon *ngIf="clients && showClients" name="arrow-dropup-circle" secondary no-padding></ion-icon>
    </button>

    <ion-list list-inset *ngIf="clients && showClients" [virtualScroll]="clients"
        approxItemHeight="46px" approxItemWidth="240px">
        <button ion-item *virtualItem="let client" class="list-margin shadow-standard" (click)="gotoClient(client, facilityForClient(client))" item-width="240px;">
            <client-card [client]="client" [facility]="facilityForClient(client)"></client-card>
        </button>
    </ion-list>

</ion-content>

<button *ngIf="showDevelopments || showTenancies || showProperties || showFacilities || showClients"
    fab fab-bottom fab-right secondary (click)="collapseAll()" class="fixed-fab">
	<ion-icon name="arrow-dropup"></ion-icon>
</button>

<button *ngIf="!(showDevelopments || showTenancies || showProperties || showFacilities || showClients)"
    fab fab-bottom fab-right secondary (click)="addNewCareInitialAssessment()" class="fixed-fab">
    <ion-icon name="add"></ion-icon>
</button>
