<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Welcome Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Search for people & places..."
        (ionInput)="searchAll($event)"></ion-searchbar>

    <ion-card>
        <ion-card-content (click)="toggleDevelopments()" no-padding>
            <ion-item>
                <ion-icon name="pin"></ion-icon>Developments
                <ion-badge *ngIf="developments" item-right class="text-standard">
                    {{developments.length}}
                </ion-badge>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-list list-inset *ngIf="developments && showDevelopments" [virtualScroll]="developments"
        approxItemHeight="68px">
        <ion-item *virtualItem="let dev" (click)="gotoDevelopment(dev)" class="list-margin">
            <development-card [dev]="dev"></development-card>
        </ion-item>
    </ion-list>

    <ion-card>
        <ion-card-content (click)="toggleTenancies()" no-padding>
            <ion-item>
                <ion-icon name="people"></ion-icon>Tenancies
                <ion-badge *ngIf="tenancies" item-right class="text-standard">
                    {{tenancies.length}}
                </ion-badge>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-list list-inset *ngIf="tenancies && showTenancies" [virtualScroll]="tenancies"
        approxItemHeight="68px">
        <ion-item *virtualItem="let ten" (click)="gotoTenancy(ten)" class="list-margin shadow-standard">
            <tenancy-card [ten]="ten"></tenancy-card>
        </ion-item>
    </ion-list>

    <ion-card>
        <ion-card-content (click)="toggleProperties()" no-padding>
            <ion-item>
                <ion-icon name="home"></ion-icon>Properties
                <ion-badge *ngIf="properties" item-right class="text-standard">
                    {{properties.length}}
                </ion-badge>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ion-list list-inset *ngIf="properties && showProperties" [virtualScroll]="properties"
        approxItemHeight="68px">
        <ion-item *virtualItem="let prop">
            <property-card [prop]="prop"></property-card>
        </ion-item>
    </ion-list>

</ion-content>