<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only>
                <ion-icon name="calendar"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{utils.dateDesc(selectedDate)}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding class="adjustment-popover">
    <ion-card class="popover-card">
        <ion-card-header>
            <h2><strong>Request Adjustment to Hours</strong></h2>
        </ion-card-header>
        <ion-card-content>
            <ion-label stacked>Reason for Adjustment</ion-label>
            <ion-textarea rows="5" [(ngModel)]="adjust.reason"></ion-textarea>
            <ion-row class="slider-label">
                <ion-col>
                    <ion-label>Hours</ion-label>
                </ion-col>
                <ion-col text-right>
                    <ion-badge class="search-badge">{{adjust.hours}}</ion-badge>
                </ion-col>
            </ion-row>
            <ion-range [(ngModel)]="adjust.hours" [min]="-8" [max]="8" [step]="1" [snaps]="true">
                <ion-label range-left>-8</ion-label>
                <ion-label range-right>8</ion-label>
            </ion-range>
            <ion-row class="slider-label">
                <ion-col>
                    <ion-label>Minutes</ion-label>
                </ion-col>
                <ion-col text-right>
                    <ion-badge class="search-badge">{{adjust.mins}}</ion-badge>
                </ion-col>
            </ion-row>
            <ion-range [(ngModel)]="adjust.mins" [min]="-55" [max]="55" [step]="5" [snaps]="true">
                <ion-label range-left>-55</ion-label>
                <ion-label range-right>55</ion-label>
            </ion-range>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button ion-button class="tool-button" (click)="dismiss()">
            <ion-icon name="close" no-padding></ion-icon>
            <span text-capitalize>Cancel</span>
        </button>
        <button ion-button class="tool-button" (click)="submit()">
            <ion-icon name="checkmark" no-padding></ion-icon>
            <span text-capitalize>Submit</span>
        </button>
    </ion-toolbar>
</ion-footer>