<ion-content no-padding class="adjustment-popover">
    <ion-card class="popover-card">
        <ion-card-header>
            <h2><strong>Adjustment to Hours</strong></h2>
        </ion-card-header>
        <ion-card-content>
            <ion-label stacked>Reason for Adjustment</ion-label>
            <ion-textarea rows="5"></ion-textarea>
            <ion-label stacked>Hours</ion-label>
            <ion-input type="number"></ion-input>
            <ion-label stacked>Minutes</ion-label>
            <ion-input type="number"></ion-input>
            <ion-buttons end>
                <button ion-button (click)="dismiss()">Ok</button>
            </ion-buttons>
        </ion-card-content>
    </ion-card>
</ion-content>
    