<ion-header>
    <ion-navbar>
        <ion-title>Booking Details</ion-title>
        <ion-buttons end>
            <button ion-button icon-start (click)="dismiss()" class="header-button">
                <ion-icon name="checkmark"></ion-icon>
                <span text-capitalize>Close</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-row>
                <ion-col col-3>Client</ion-col>
                <ion-col>{{booking.forename}} {{booking.surname}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>Type</ion-col>
                <ion-col>{{booking.bookingDesc}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>Team</ion-col>
                <ion-col>{{contract.teamDesc}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>Start Time</ion-col>
                <ion-col>{{DateUtils.timeFromDate(booking.thisStart)}} on {{DateUtils.displayDate(booking.thisStart)}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>Finish Time</ion-col>
                <ion-col>{{DateUtils.timeFromDate(booking.thisFinish)}} on {{DateUtils.displayDate(booking.thisFinish)}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3>Duration</ion-col>
                <ion-col>{{DateUtils.displayTime(booking.thisMins)}}</ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button icon-start (click)="dismiss()" class="header-button">
                <ion-icon name="checkmark"></ion-icon>
                <span text-capitalize>Close</span>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>