<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
			{{client.forename}} {{client.surname}}
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

	<ion-card>
		<ion-list>
			<button ion-item (click)="gotoDetails()">
				<ion-icon name="contact"></ion-icon>
				<span class="button-text" text-capitalize>Personal Details</span>
			</button>
			<button ion-item (click)="gotoSummary()" (enabled)="carePlan">
				<ion-icon name="list-box"></ion-icon>
				<span class="button-text" text-capitalize>Care Needs Summary</span>
			</button>
			<button ion-item (click)="gotoCarePlan()">
				<ion-icon name="medkit"></ion-icon>
				<span class="button-text" text-capitalize>Care Plan</span>
			</button>
			<button ion-item (click)="gotoNotes(client)">
				<ion-icon name="document"></ion-icon>
				<span class="button-text" text-capitalize>Daily Notes</span>
			</button>
		</ion-list>
	</ion-card>

</ion-content>

<button fab fab-bottom fab-right secondary class="fixed-fab">
	<ion-icon name="add"></ion-icon>
</button> 