<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
		{{client.forename}} {{client.surname}}
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-content>
			<facility-card [facility]="facility" class="text-standard"></facility-card>
		</ion-card-content>
	</ion-card>

	<button class="button-header">
		<ion-icon name="medkit" no-padding></ion-icon>
		<span class="button-text" text-capitalize>Care Plan</span>
	</button>

</ion-content>