<ion-header>
  <ion-navbar>
    <button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Debug Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>General Settings</ion-card-header>
    <ion-card-content no-padding>
      <ion-list>
        <ion-item>
          <ion-label item-left>Enable Dummy Data</ion-label>
          <ion-checkbox [(ngModel)]="debug.enableDummyData" item-right color="secondary"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Debug Events</ion-card-header>
    <ion-card-content no-padding>
      <ion-list>
        <button ion-item text-wrap *ngFor="let thing of debug.logEvents.slice().reverse()">
          <p>{{thing.when.toISOString()}}</p>
          <p>{{thing.what}}</p>
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>