.min-right {
    padding-left: 12px;
    padding-right: 12px;
}

ion-item-divider {
    margin-top: 12px;
    margin-bottom: 0px;
}

.box-highlight {
    border: black 1px solid!important;
    background-color: orange;
    margin: 8px 8px 16px 16px;
    padding: 16px;
}