<ion-content id="assess_page" [formGroup]="form">
	<ion-card class="card-pad-bottom">
		<ion-card-content no-margin no-padding>
			<ion-list text-wrap no-lines>
				<ion-item-divider no-lines>
					<h2>
						<strong>General Information</strong>
					</h2>
				</ion-item-divider>
				<ion-item>
					<ion-label stacked>Date of Visit</ion-label>
					<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="assess.visitDate" formControlName="visitDate"></ion-datetime>
				</ion-item>
				<ion-item>
					<ion-label stacked>Visit By</ion-label>
					<ion-input type="text" [(ngModel)]="assess.visitBy" formControlName="visitBy"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Name of Client</ion-label>
					<ion-label stacked *ngIf="form.controls.name.invalid" class="valid-mess">A name is required</ion-label>
					<ion-input type="text" [(ngModel)]="assess.name" formControlName="name"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Likes to be known as</ion-label>
					<ion-input type="text" [(ngModel)]="assess.prefName" formControlName="prefName"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Address</ion-label>
					<ion-label stacked *ngIf="form.controls.address1.invalid" class="valid-mess">An address is required</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.address1" formControlName="address1"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Telephone Number</ion-label>
					<ion-input type="text" [(ngModel)]="assess.telephoneNumber" formControlName="telephoneNumber"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Date of Birth</ion-label>
					<ion-label stacked *ngIf="form.controls.dateOfBirth.invalid" class="valid-mess">A date of birth is required</ion-label>
					<ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="assess.dateOfBirth" formControlName="dateOfBirth"></ion-datetime>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="card-pad-bottom">
		<ion-card-header>
			<strong>Care Needs &amp; Provision</strong>
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-list text-wrap>
				<ion-item>
					<ion-label stacked>Type of Visit Required</ion-label>
					<ion-label stacked *ngIf="form.controls.visitType.invalid" class="valid-mess">A type of visit is required</ion-label>
					<ion-select width-100 [(ngModel)]="assess.visitType" #visitType placeholder="Select from the following" formControlName="visitType">
						<ion-option value="0">Personal Care</ion-option>
						<ion-option value="1">Non-Personal Care</ion-option>
						<ion-option value="2">Housing Support</ion-option>
						<ion-option value="3">Mixed Care &amp; Housing Support</ion-option>
						<ion-option value="4">Other (Please Specify)</ion-option>
					</ion-select>
				</ion-item>
				<ion-item *ngIf="assess.visitType == '4'">
					<ion-label stacked>Other type of care package required</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.otherCare" formControlName="otherCare"></ion-textarea>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Do you live alone?</ion-label>
					<ion-checkbox [(ngModel)]="assess.livesAlone" formControlName="livesAlone" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Does someone from a carer or support service visit your home to help you on a regular basis?</ion-label>
					<ion-checkbox [(ngModel)]="assess.hasCareOrSupport" formControlName="hasCareOrSupport" item-right></ion-checkbox>
				</ion-item>
				<ion-row class="min-right">
					<ion-col col-9 text-wrap>
						<ion-label>Number of care hours provided by Blackwood per week</ion-label>
					</ion-col>
					<ion-col col-3>
						<ion-input type="number" [(ngModel)]="assess.blackwoodHours" formControlName="blackwoodHours"></ion-input>
					</ion-col>
				</ion-row>
				<ion-item class="comm-pref-check">
					<ion-label stacked>Is care provided by another provider?</ion-label>
					<ion-checkbox [(ngModel)]="assess.hasOtherProvider" formControlName="hasOtherProvider" item-right></ion-checkbox>
				</ion-item>
				<ion-row *ngIf="assess.hasOtherProvider" class="min-right">
					<ion-col col-9 text-wrap>
						<ion-label>Number of Hours</ion-label>
					</ion-col>
					<ion-col col-3>
						<ion-input class="input-number" type="number" [(ngModel)]="assess.otherProviderHours" formControlName="otherProviderHours"></ion-input>
					</ion-col>
				</ion-row>
				<ion-item-divider no-lines></ion-item-divider>
				<ion-item>
					<ion-label stacked>Care &amp; Support Needs</ion-label>
					<ion-label stacked *ngIf="form.controls.whatRequired.invalid" class="valid-mess">A summary of care needs is required</ion-label>
					<ion-textarea rows="6" [(ngModel)]="assess.whatRequired" formControlName="whatRequired" placeholder="What assistance do you require? Describe in general terms any care or support you require with your usual routine including bathing/showering, mobility/transfers, eating/drinking, dressing/undressing, overnight, etc."></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>When is assistance required?</ion-label>
					<ion-label stacked *ngIf="form.controls.whenRequired.invalid" class="valid-mess">This field is required</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.whenRequired" formControlName="whenRequired" placeholder="What times &amp; for how long, start &amp; finish times of each visit?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>What time does the customer normally get up and go to bed?</ion-label>
				</ion-item>
				<ion-row class="min-right">
					<ion-col col-9>
						<ion-label>Gets up at</ion-label>
					</ion-col>
					<ion-col col-3>
						<ion-datetime displayFormat="HH:mm" [(ngModel)]="assess.bedUpTime" formControlName="bedUpTime"></ion-datetime>
					</ion-col>
				</ion-row>
				<ion-row class="min-right">
					<ion-col col-9>
						<ion-label>Goes to bed at</ion-label>
					</ion-col>
					<ion-col col-3>
						<ion-datetime displayFormat="HH:mm" [(ngModel)]="assess.bedDownTime" formControlName="bedDownTime"></ion-datetime>
					</ion-col>
				</ion-row>
				<ion-item>
					<ion-label stacked>Normal, sleeping patterns and routines <em>(i.e. does user get up in night to use bathroom etc.?)</em></ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.sleepPattern" formControlName="sleepPattern"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Staffing &amp; Training</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.staffRequirements" formControlName="staffRequirements" placeholder="For each visit, how many staff should attend and do they require and particular skills or training?"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="card-pad-bottom">
		<ion-card-header>
			<h2><strong>Physical Wellbeing</strong></h2>
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-list text-wrap>
				<ion-item class="margin-bottom">
					<ion-label stacked>How would you describe your overall health?</ion-label>
					<ion-select [(ngModel)]="assess.overallHealth" formControlName="overallHealth" placeholder="Please select">
						<ion-option *ngFor="let rating of ratings" [value]="rating.key">{{rating.value}}</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-textarea rows="3" [(ngModel)]="assess.generalHealth" formControlName="generalHealth" placeholder="How would you describe your general health?"></ion-textarea>
				</ion-item>
			</ion-list>
			<ion-list text-wrap>
				<ion-item-divider no-lines>
					<strong>Please tell us here whether the customer has a physical or cognitive impairment/disability. Please select all that apply.</strong>
				</ion-item-divider>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Visual Impairment</ion-label>
					<ion-checkbox [(ngModel)]="assess.diabilityVisual" formControlName="disabilityVisual" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Hearing loss or severe hearing impairment</ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityHearing" formControlName="disabilityHearing" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Lifelong cognitive disability <em>(i.e. not age-related)</em></ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityCognitiveLifelong" formControlName="disabilityCognitiveLifelong" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Lifelong physical disability <em>(i.e. not age-related)</em></ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityPhysicalLifelong" formControlName="disabilityPhysicalLifelong" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Age-related cognitive impairment <em>(e.g. dementia)</em></ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityCognitiveAgeRelated" formControlName="disabilityCognitiveAgeRelated" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Age-related physical disability e.g. that substantially limits one or more basic physical activities such as walking, climbing stairs, reaching, lifting or carrying</ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityPhysicalAgeRelated" formControlName="disabilityPhysicalAgeRelated" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Chronic illness <em>(asthma, diabetes, CPOD etc.)</em></ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityChronicIllness" formControlName="disabilityChronicIllness" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Other <em>(please specify)</em></ion-label>
					<ion-checkbox [(ngModel)]="assess.disabilityOther" formControlName="disabilityOther" item-right></ion-checkbox>
				</ion-item>
				<ion-item *ngIf="assess.disabilityOther">
					<ion-label stacked>Please specify</ion-label>
					<ion-textarea rows="3" placeholder="Please specify" [(ngModel)]="assess.disabilityOtherDetails" formControlName="disabilityOtherDetails"></ion-textarea>
				</ion-item>
				<ion-row class="min-right">
					<ion-col col-11 text-wrap>
						<ion-label>Please indicate, if any, the number of times you have fallen in the past three months</ion-label>
					</ion-col>
					<ion-col col-1 class="badge-label">
						<ion-badge class="range-badge">{{assess.timesFallen}}</ion-badge>
					</ion-col>
				</ion-row>
				<ion-item>
					<ion-range class="range-slider" [(ngModel)]="assess.timesFallen" formControlName="timesFallen" min="0" max="5" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>5+</ion-label>
					</ion-range>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>If you had a fall, did it result in a hospital stay?</ion-label>
					<ion-checkbox [(ngModel)]="assess.fallenHospital" formControlName="fallenHospital" item-right></ion-checkbox>
				</ion-item>
				<ion-item-divider>Personal</ion-item-divider>
				<ion-item>
					<ion-label>Are there any issues concerning</ion-label>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Poor Exercise</ion-label>
					<ion-checkbox [(ngModel)]="assess.personalPoorExercise" formControlName="personalPoorExercise" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Hygiene</ion-label>
					<ion-checkbox [(ngModel)]="assess.personalHygiene" formControlName="personalHygiene" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Nutrition</ion-label>
					<ion-checkbox [(ngModel)]="assess.personalNutrition" formControlName="personalNutrition" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Reduced tolerance to cold</ion-label>
					<ion-checkbox [(ngModel)]="assess.personalColdTolerance" formControlName="personalColdTolerance" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check">
					<ion-label>Poor hydration</ion-label>
					<ion-checkbox [(ngModel)]="assess.personalHydration" formControlName="personalHydration" item-right></ion-checkbox>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="card-pad-bottom">
		<ion-card-header>
			<h2>
				<strong>Medication</strong>
			</h2>
		</ion-card-header>
		<ion-card-content no-margin no-padding>
			<ion-list text-wrap no-lines>
				<ion-item>
					<ion-label stacked>Details</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.medication" formControlName="medication" placeholder="What medication do you take, if any? And what are these for?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Capacity</ion-label>
					<ion-select width-100 [(ngModel)]="assess.medicationCapacity" formControlName="medicationCapacity" placeholder="Select from the following">
						<ion-option value="0">Has Capacity</ion-option>
						<ion-option value="1">Does not have Capacity</ion-option>
						<ion-option value="2">Referred for GP Assessment</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Medication Visit Times</ion-label>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Morning</ion-label>
					<ion-checkbox [(ngModel)]="assess.medicMorningVisit" formControlName="medicMorningVisit" mode="md" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Lunchtime</ion-label>
					<ion-checkbox [(ngModel)]="assess.medicLunchVisit" formControlName="medicLunchVisit" mode="md" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Teatime</ion-label>
					<ion-checkbox [(ngModel)]="assess.medicTeatimeVisit" formControlName="medicTeatimeVisit" mode="md" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Bedtime</ion-label>
					<ion-checkbox [(ngModel)]="assess.medicBedtimeVisit" formControlName="medicBedtimeVisit" mode="md" item-right></ion-checkbox>
				</ion-item>
				<ion-item class="comm-pref-check" no-margin>
					<ion-label>Other Time</ion-label>
					<ion-checkbox [(ngModel)]="assess.medicOtherVisit" formControlName="medicOtherVisit" mode="md" item-right></ion-checkbox>
				</ion-item>
				<ion-item *ngIf="assess.medicOtherVisit == true">
					<ion-textarea rows="3" [(ngModel)]="assess.medicOtherVisitDetails" formControlName="medicOtherVisitDetails" placeholder="Details of other time at which medication is taken"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Oral Grading</ion-label>
					<ion-select width-100 [(ngModel)]="assess.medicOralGrading" formControlName="medicOralGrading" placeholder="Select from the following">
						<ion-option value="0">Independent</ion-option>
						<ion-option value="1">Prompt &amp; Assist</ion-option>
						<ion-option value="2">Administer with capacity</ion-option>
						<ion-option value="3">Administer without capacity</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Non-Oral Grading</ion-label>
					<ion-select width-100 [(ngModel)]="assess.medicNonOralGrading" formControlName="medicNonOralGrading" placeholder="Select from the following">
						<ion-option value="0">Independent</ion-option>
						<ion-option value="1">Prompt &amp; Assist</ion-option>
						<ion-option value="2">Administer with capacity</ion-option>
						<ion-option value="3">Administer without capacity</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Medication ordered by</ion-label>
					<ion-select width-100 [(ngModel)]="assess.whoOrdersMedication" formControlName="whoOrdersMedication" placeholder="Select from the following">
						<ion-option value="0">Blackwood</ion-option>
						<ion-option value="1">Family</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>How often can the customer forget to take medication?</ion-label>
					<ion-select width-100 [(ngModel)]="assess.forgetsMedication" formControlName="forgetsMedication" placeholder="Select from the following">
						<ion-option *ngFor="let med of forgetsMedic" value="med.key">{{med.value}}</ion-option>
					</ion-select>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="card-pad-bottom">
		<ion-card-content no-margin no-padding>
			<ion-list text-wrap no-lines>
				<ion-item>
					<ion-label stacked>
						<strong>Sight </strong>
					</ion-label>
					<ion-select width-100 [(ngModel)]="assess.eyeSight" formControlName="eyeSight" placeholder="Select from the following">
						<ion-option value="0">Full Sight - No Glasses</ion-option>
						<ion-option value="1">Full Sight - Glasses</ion-option>
						<ion-option value="2">Partially Sighted</ion-option>
						<ion-option value="3">Blind</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Hearing</strong>
						<br>Do you wear a hearing aid?</ion-label>
					<ion-input type="text" [(ngModel)]="assess.hearing" formControlName="hearing"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Communication Ability</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.communicationAbility" formControlName="communicationAbility" placeholder="How do you communicate with others?"></ion-textarea>
				</ion-item>
				<ion-item-divider no-lines>
					<strong>Communication Preferences</strong>
					<br/>
					<span>What are your preferred ways of
						<i>us</i> communicating with
						<i>you</i>? Tick all that apply</span>
				</ion-item-divider>
				<ion-item *ngFor="let pref of assess.comms; let i = index" class="comm-pref-check" no-margin>
					<ion-label>{{pref.title}}</ion-label>
					<ion-checkbox [(ngModel)]="pref.preferred" formControlName="commspref_{{i}}" mode="md" item-right></ion-checkbox>
				</ion-item>
				<hr/>
				<ion-item>
					<ion-label stacked>
						<strong>Continence</strong>
					</ion-label>
					<ion-select width-100 [(ngModel)]="assess.continence" formControlName="continence" placeholder="Select from the following">
						<ion-option value="0">Full Continent</ion-option>
						<ion-option value="1">Periodic Incontinence</ion-option>
						<ion-option value="2">Full Incontinence</ion-option>
					</ion-select>
				</ion-item>
				<ion-item *ngIf="assess.continence=='1' || assess.continence=='2'">
					<ion-label stacked>Please provide details</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.continenceDetails" formControlName="continenceDetails"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Dexterity</strong>
						<ion-badge class="range-badge">{{assess.dexterity}}</ion-badge>
						<br>
						<span>How good is your manual dexterity?</span>
					</ion-label>
					<ion-range class="range-slider" [(ngModel)]="assess.dexterity" formControlName="dexterity" min="1" max="5" step="1" snaps="true">
						<ion-label range-left>(Poor) 1</ion-label>
						<ion-label range-right>5 (Great)</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Disability Equipment Needs</strong>
						<br>
					</ion-label>
					<ion-textarea rows="7" [(ngModel)]="assess.adaptations" formControlName="adaptations" placeholder="List any disability aids or adaptations you use (Hoist, Walking Frame, Wheelchair, Shower Chair, Cutlery, etc). If applicable, tell us about any service contracts &amp; contact details you have for your current equipment or if you require any aids or adaptations to be organised."></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Mental Health</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.mentalHealth" formControlName="mentalHealth" placeholder="Do you have any mental health needs or requirements?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Dietary Requirements</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.dietaryRequirements" formControlName="dietaryRequirements" placeholder="Do you have any dietary requirements or food intolerances that we should know about?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Food &amp; Drink Preferences</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.foodDrinkPreferences" formControlName="foodDrinkPreferences" placeholder="Are there any foods or drinks that you particularly love or hate?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Social Interests</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.socialInterests" formControlName="socialInterests" placeholder="Do you have any social interests, activities or hobbies you enjoy that it would be useful for us to know about?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Religion &amp; Culture</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.religionCulture" formControlName="religionCulture" placeholder="Do you have any religious or cultural requirements that we should know about?"></ion-textarea>
				</ion-item>
			</ion-list>
			<ion-list radio-group no-margin text-wrap no-lines [(ngModel)]="assess.happyVary" formControlName="happyVary">
				<ion-item>
					<ion-label stacked>Would you be happy to vary start dates/times if required?</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Yes</ion-label>
					<ion-radio checked="true" value="true"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>No</ion-label>
					<ion-radio value="false"></ion-radio>
				</ion-item>
			</ion-list>
			<ion-list no-margin text-wrap no-lines *ngIf="assess.happyVary=='false'">
				<ion-item>
					<ion-label stacked>Please detail if certain times cannot be changed</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.timeChange" formControlName="timeChange"></ion-textarea>
				</ion-item>
			</ion-list>
			<ion-list radio-group no-margin text-wrap no-lines [(ngModel)]="assess.genderPref" formControlName="genderPref">
				<ion-item-divider no-lines>
					<strong>Gender Preferences</strong>
				</ion-item-divider>
				<ion-item>
					<ion-label stacked>Do you have a preference regarding gender of person assisting you?</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>No preference</ion-label>
					<ion-radio checked="true" value="0"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>Female preferred</ion-label>
					<ion-radio value="1"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>Male preferred</ion-label>
					<ion-radio value="2"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>Depends on Task</ion-label>
					<ion-radio value="3"></ion-radio>
				</ion-item>
			</ion-list>
			<ion-list *ngIf="assess.genderPref == '3'" no-margin no-lines>
				<ion-item>
					<ion-label stacked>Please give details</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.genderDetails" formControlName="genderDetails" placeholder="Details of the tasks or conditions under which you would like to be attended by specific gender"></ion-textarea>
				</ion-item>
			</ion-list>
			<ion-list *ngIf="assess.genderPref != '0'" radio-group no-margin text-wrap no-lines [(ngModel)]="assess.altGender" formControlName="altGender">
				<ion-item>
					<ion-label stacked>In the event we cannot provide this preference, would you accept the alternative?</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Yes</ion-label>
					<ion-radio checked="true" value="true"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>No</ion-label>
					<ion-radio value="false"></ion-radio>
				</ion-item>
			</ion-list>
			<ion-list no-margin no-lines>
				<ion-item>
					<ion-label stacked>
						<strong>Access Arrangements</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.accessArrangements" formControlName="accessArrangements" placeholder="Are there any special arrangements that need to be followed to gain access to your property?"></ion-textarea>
				</ion-item>
			</ion-list>
			<ion-list radio-group no-margin text-wrap [(ngModel)]="assess.doorEntry" formControlName="doorEntry" no-lines>
				<ion-item>
					<ion-label stacked>Do you have a Buzzer or Key Code for your door?</ion-label>
				</ion-item>
				<ion-item>
					<ion-label>Buzzer</ion-label>
					<ion-radio value="0"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>Key Code</ion-label>
					<ion-radio value="1"></ion-radio>
				</ion-item>
				<ion-item>
					<ion-label>None</ion-label>
					<ion-radio value="2" checked="true"></ion-radio>
				</ion-item>
			</ion-list>
			<ion-list no-margin text-wrap id="assess_page_bottom" no-lines>
				<ion-item [hidden]="!(assess.doorEntry && assess.doorEntry=='1')">
					<ion-label stacked>What is the number of your Key Code?</ion-label>
					<ion-input type="text" [(ngModel)]="assess.keyCode" formControlName="keyCode"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Disability &amp; Conditions</strong>
					</ion-label>
					<ion-textarea rows="4" [(ngModel)]="assess.disability" formControlName="disability" placeholder="Do you have a disability? If so what and is there any other medical requirements you feel that we may need to know (Diabetic, etc.)"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Do you suffer from any allergies?</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.allergies" formControlName="allergies"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>General Practitioner</strong>
					</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.gpDetails" formControlName="gpDetails" placeholder="Do you have a GP? Who and where?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>
						<strong>Other Healthcare</strong>
					</ion-label>
					<ion-textarea rows="4" [(ngModel)]="assess.otherProvider" formControlName="otherProvider" placeholder="Do you have any other healthcare provider? If so who and what are their contact details (e.g. District Nurse, OT, SALT, etc.)"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card class="card-pad-bottom">
		<ion-card-header>
			<strong>Next-of-Kin, Emergency &amp; Other Contacts</strong>
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-list text-wrap>
				<ion-item>
					<ion-label stacked>Carer/Family Involvement</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.familyCarer" formControlName="familyCarer" placeholder="Do you have current carers or family involved in your care?"></ion-textarea>
				</ion-item>
				<ion-item *ngIf="assess.nextOfKin">
					<ion-label stacked>Next-of-Kin/Emergency Contact</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.nextOfKin" formControlName="nextOfKin" placeholder="Who would be your Next-of-Kin and Emergency Contact?"></ion-textarea>
				</ion-item>
				<ion-item>
					<em>Add next of kin, family &amp; friends and emergency contacts</em>
				</ion-item>
			</ion-list>
			<ion-list class="shaded-list">
				<ion-item *ngFor="let contact of assess.contacts; let i = index" (click)="openContact(contact, i)">
					<ion-label>{{contact.forenames}} {{contact.surname}}</ion-label>
					<ion-label text-right>{{contact.relationship.description}}</ion-label>
				</ion-item>
			</ion-list>
			<ion-item>
				<ion-buttons end>
					<button ion-button (click)="addContact()" class="header-button">
						<ion-icon name="add"></ion-icon>
						<span text-capitalize>Add Contact</span>
					</button>
				</ion-buttons>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-card class="card-pad-bottom">
		<ion-card-header>
			<strong>General</strong>
		</ion-card-header>
		<ion-card-content no-padding>
			<ion-list text-wrap>
				<ion-item>
					<ion-label stacked>Specific Risks</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.specificRisks" formControlName="specificRisks" placeholder="Are there any specific risks around your care that we should be aware of?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Goals</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.goals" formControlName="goals" placeholder="Do you have any specific goals you would like us to help you to achieve?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Other Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.additionalInfo" formControlName="additionalInfo" placeholder="Is there any other information that you would like to share with us that we haven't already covered?"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label><strong>Are there any issues concerning</strong></ion-label>
				</ion-item>
				<ion-item>
					<ion-label><em>For the following, please indicate, if any, the number of times the following have happened in the past three months</em></ion-label>
				</ion-item>
			</ion-list>
			<ion-list class="list-row">
				<ion-row>
					<ion-label>Intruders?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueIntruders" formControlName="issueIntruders"></ion-input>
				</ion-row>
				<ion-row>
					<ion-label>Bogus callers?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueBogusCalls" formControlName="issueBogusCalls"></ion-input>
				</ion-row>
				<ion-row>
					<ion-label>Going out inappropriately?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueGoingOut" formControlName="issueGoingOut"></ion-input>
				</ion-row>
				<ion-row>
					<ion-label>Scalds?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueScalds" formControlName="issueScalds"></ion-input>
				</ion-row>
				<ion-row>
					<ion-label>Cooker or hob use?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueCooker" formControlName="issueCooker"></ion-input>
				</ion-row>
				<ion-row>
					<ion-label>Taps left on/flooding?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueFlooding" formControlName="issueFlooding"></ion-input>
				</ion-row>
				<ion-row>
					<ion-label>Doors &amp; Windows left open or unlocked?</ion-label>
					<ion-input type="number" [min]="0" [max]="5" [(ngModel)]="assess.issueOpenDoors" formControlName="issueOpenDoors"></ion-input>
				</ion-row>
			</ion-list>
		</ion-card-content>
	</ion-card>
	<ion-card class="footer-margin card-pad-bottom">
		<ion-card-header>
			<h2>Client Signature</h2>
		</ion-card-header>
		<ion-card-content>
			<signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
			<!-- <button ion-button text-capitalize icon-left (click)="savePad()">
				<ion-icon name="checkmark"></ion-icon>Save Signature</button> -->
			<button ion-button text-capitalize icon-left (click)="clearPad()">
				<ion-icon name="close"></ion-icon>Clear Signature</button>
		</ion-card-content>
	</ion-card>
</ion-content>