<ion-header>
	<ion-navbar>
		<button menuToggle ion-button icon-only>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{utils.dateDesc(selectedDate)}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="prevDay()">
				<ion-icon name="arrow-dropleft-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="nextDay()">
				<ion-icon name="arrow-dropright-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="showDatePop($event)">
				<ion-icon name="calendar" color="secondary"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-card *ngIf="!bookings">
		<ion-card-content>
			<span>Retrieving data, please wait...</span>
		</ion-card-content>
	</ion-card>

	<!-- Card for Daily Totals -->

	<!-- Split into Summary and Booking tabs? -->

	<ion-card *ngIf="today.shifts">
		<ion-card-content no-padding>
			<div *ngIf="today.shifts.length == 0">
				<ion-card-header>
					<h2>No Shifts for this day</h2>
				</ion-card-header>
			</div>
			<div *ngFor="let shift of today.shifts">
				<ion-card-header>
					<ion-row>
						<ion-col>
							<h2><strong>Shift {{shift.sequence}}</strong></h2>
						</ion-col>
						<ion-col text-center>
							<h2><strong>{{utils.timeFromDate(shift.start)}} - {{utils.timeFromDate(shift.finish)}}</strong></h2>
						</ion-col>
						<ion-col text-right>
							<h2><strong>{{utils.displayTime(shift.shiftMins)}}</strong></h2>
						</ion-col>
					</ion-row>
				</ion-card-header>
				<ion-list>
					<button ion-item *ngFor="let bk of shift.bookings" class="list-item-underline" [style.background-color]="bookColor(bk)">
					<booking-card [booking]="bk"></booking-card>
				</button>
				</ion-list>
			</div>
		</ion-card-content>
	</ion-card>

	<ion-fab bottom right #fab>
		<button ion-fab color="secondary"><ion-icon name="pulse"></ion-icon></button>
		<ion-fab-list side="top">
			<!--<button ion-fab color="secondary" text-capitalize>
					<ion-label class="fab-md">Housing Annual Home Visit</ion-label>
					<ion-icon name="home"></ion-icon>
				</button>-->
			<button ion-fab color="secondary" text-capitalize (click)="requestAdjustment($event, fab)">
					<ion-label class="fab-md">Request Adjustment to Hours</ion-label>
					<ion-icon name="add"></ion-icon>
				</button>
		</ion-fab-list>
	</ion-fab>

</ion-content>