<ion-header>
	<ion-navbar>
		<button menuToggle ion-button icon-only>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{utils.dateDesc(selectedDate)}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="prevDay()">
				<ion-icon name="arrow-dropleft-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="nextDay()">
				<ion-icon name="arrow-dropright-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only>
				<ion-icon name="calendar" color="secondary"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="!bookings">
		<ion-card-content>
			<span>Retrieving data, please wait...</span>
		</ion-card-content>
	</ion-card>

	<!-- Card for Daily Totals -->

	<ion-card *ngIf="today.shifts">
		<ion-card-content no-padding>
			<div *ngIf="today.shifts.length == 0">
				<ion-card-header>
					<h2>No Shifts for this day</h2>
				</ion-card-header>
			</div>
			<div *ngFor="let shift of today.shifts">
				<ion-card-header>
					<ion-row>
						<ion-col><h2><strong>Shift {{shift.sequence}}</strong></h2></ion-col>
						<ion-col text-center>
							<h2><strong>{{utils.timeFromDate(shift.start)}} - {{utils.timeFromDate(shift.finish)}}</strong></h2>
						</ion-col>
						<ion-col text-right><h2><strong>{{utils.displayTime(shift.shiftMins)}}</strong></h2></ion-col>
					</ion-row>
				</ion-card-header>
				<ion-list>
					<button ion-item *ngFor="let bk of shift.bookings" class="list-item-underline"
						[style.background-color]="bookColor(bk)">
					<booking-card [booking]="bk"></booking-card>
				</button>
				</ion-list>
			</div>
		</ion-card-content>
	</ion-card>

</ion-content>