<ion-header>
	<ion-navbar>
		<button menuToggle ion-button icon-only>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{utils.dateDesc(selectedDate)}}</ion-title>
		<ion-buttons end>
			<button ion-button icon-only (click)="prevDay()">
				<ion-icon name="arrow-dropleft-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only (click)="nextDay()">
				<ion-icon name="arrow-dropright-circle" color="secondary"></ion-icon>
			</button>
			<button ion-button icon-only>
				<ion-icon name="calendar" color="secondary"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="!bookings">
		<ion-card-content>
			<span>Retrieving data, please wait...</span>
		</ion-card-content>
	</ion-card>

	<div *ngFor="let bk of bookings">
		<booking-card [booking]="bk"></booking-card>
	</div>

	<!-- <div [virtualScroll]="bookings" class="fliter-list">
		<div *virtualItem="let booking" class="booking-card-container">
			<booking-card [booking]="booking"></booking-card>
		</div>
	</div> -->
</ion-content>