<ion-content id="handling_page">

	<!-- About the Person -->
	<ion-card class="card-pad-bottom">
		<ion-card-header>About the Person</ion-card-header>
		<ion-card-content no-padding no-margin>
			<ion-list text-wrap no-lines>
				<ion-item>
					<ion-textarea rows="3" [(ngModel)]="assess.aboutPerson"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Body Build - Weight</ion-label>
					<ion-select [(ngModel)]="assess.bodyBuildWeight">
						<ion-option value="1">Obese</ion-option>
						<ion-option value="2">Above Average</ion-option>
						<ion-option value="3">Average</ion-option>
						<ion-option value="4">Below Average</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Body Build - Height</ion-label>
					<ion-select [(ngModel)]="assess.bodyBuildHeight">
						<ion-option value="1">Tall</ion-option>
						<ion-option value="2">Medium</ion-option>
						<ion-option value="3">Short</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Risk of Falls</ion-label>
					<ion-select [(ngModel)]="assess.riskFalls">
						<ion-option value="1">High</ion-option>
						<ion-option value="2">Low</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Problems with comprehension, behaviours, co-operation (specify)</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.problems"></ion-textarea>
				</ion-item>
				<ion-item>
					<ion-label stacked>Handling constraints e.g. disability, weakness, pain, skin lesions, infusions (specify)</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.constraints"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Transfers -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Transfers</ion-card-header>
		<ion-card-content no-padding no-margin>
			<ion-list no-lines>
				<ion-item text-wrap><em>Including to/from bed, wheelchair, commode, toilet</em></ion-item>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select [(ngModel)]="assess.transferSpec">
						<ion-option value="1">Hoist or Standaid</ion-option>
						<ion-option value="2">Assistance</ion-option>
						<ion-option value="3">Supervision</ion-option>
						<ion-option value="4">Independent</ion-option>
					</ion-select>
				</ion-item>
				<ion-item no-lines>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.transferPeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.transferPeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Walking Aid - specify</ion-label>
					<ion-input type="text" [(ngModel)]="assess.transferWalkingAid"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.transferAdditional"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Toileting -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Toileting</ion-card-header>
		<ion-card-content no-padding no-margin>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select [(ngModel)]="assess.toiletSpec">
						<ion-option value="1">Hoist or Standaid</ion-option>
						<ion-option value="2">Assistance</ion-option>
						<ion-option value="3">Supervision</ion-option>
						<ion-option value="4">Independent</ion-option>
					</ion-select>
				</ion-item>
				<ion-item no-lines>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.toiletPeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.toiletPeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Walking Aid - specify</ion-label>
					<ion-input type="text" [(ngModel)]="assess.toiletWalkingAid"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.toiletAdditional"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Bed Pan move -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Move On/Off Bed Pan</ion-card-header>
		<ion-card-content no-padding no-margin>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select class="select-margin-bottom" [(ngModel)]="assess.bedpanSpec">
						<ion-option value="1">Hoist</ion-option>
						<ion-option value="2">Manoeuver</ion-option>
						<ion-option value="3">Assistance</ion-option>
						<ion-option value="4">Supervision</ion-option>
						<ion-option value="5" selected="true">N/A</ion-option>
					</ion-select>
					<ion-select [(ngModel)]="assess.bedpanManeuver">
						<ion-option value="1">Roll Customer</ion-option>
						<ion-option value="2">Monkey Pole</ion-option>
						<ion-option value="3">Customer Bridges</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.bedpanPeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.bedpanPeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.bedpanAdditional"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Bed move -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Move Up/Down Bed</ion-card-header>
		<ion-card-content no-margin no-padding>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select class="select-margin-bottom" [(ngModel)]="assess.bedMoveSpec">
						<ion-option value="1">Hoist</ion-option>
						<ion-option value="2">Handling Aids</ion-option>
						<ion-option value="3">Assistance</ion-option>
						<ion-option value="4">Supervision</ion-option>
						<ion-option value="5">Independent</ion-option>
					</ion-select>
					<ion-select [(ngModel)]="assess.bedMoveHandlingAid">
						<ion-option value="1">Sliding Sheet</ion-option>
						<ion-option value="2">Monkey Pole</ion-option>
						<ion-option value="3">Rope Ladder</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.bedMovePeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.bedMovePeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.bedMoveAdditional"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Bed transfer -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Transfer To/From Bed</ion-card-header>
		<ion-card-content no-margin no-padding>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select class="select-margin-bottom" [(ngModel)]="assess.bedTransferSpec">
						<ion-option value="1">Hoist</ion-option>
						<ion-option value="2">Handling Aids</ion-option>
						<ion-option value="3">Assistance</ion-option>
						<ion-option value="4">Supervision</ion-option>
						<ion-option value="5">Independent</ion-option>
					</ion-select>
					<ion-select [(ngModel)]="assess.bedTransferHandlingAid">
						<ion-option value="1">Patslide</ion-option>
						<ion-option value="2">Roll Board</ion-option>
						<ion-option value="3">Fabric Sliding Aid</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.bedTransferPeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.bedTransferPeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.bedTransferAdditional"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Bed sit up -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Sit Up Over Side of Bed</ion-card-header>
		<ion-card-content no-margin no-padding>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select [(ngModel)]="assess.bedsideSpec">
						<ion-option value="1">Bed Rest</ion-option>
						<ion-option value="2">Assistant</ion-option>
						<ion-option value="3">Supervision</ion-option>
						<ion-option value="4">Independent</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.bedsidePeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.bedsidePeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.bedsideAdditional" placeholder="e.g. equipment to be used"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Bath/Shower -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Into Bath or Shower</ion-card-header>
		<ion-card-content no-padding no-margin>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Which Bath</ion-label>
					<ion-select [(ngModel)]="assess.bathShowerWhich">
						<ion-option value="1">Shower</ion-option>
						<ion-option value="2">Variable Height Bath</ion-option>
						<ion-option value="3">Bed Bath</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Handling Aid</ion-label>
					<ion-select [(ngModel)]="assess.bathShowerHandlingAid">
						<ion-option value="1">Hoist</ion-option>
						<ion-option value="2">Ambulift</ion-option>
						<ion-option value="3">Shower Chair</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select [(ngModel)]="assess.bathShowerSpec">
						<ion-option value="1">Assistance</ion-option>
						<ion-option value="2">Supervision</ion-option>
						<ion-option value="3">Independent</ion-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.bathShowerPeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.bathShowerPeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.bathShowerAdditional"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Walking -->
	<ion-card class="card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Walking</ion-card-header>
		<ion-card-content no-margin no-padding>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked>Specify</ion-label>
					<ion-select [(ngModel)]="assess.walkingSpec">
						<ion-option value="1">No Walking</ion-option>
						<ion-option value="2">Walking Aid</ion-option>
						<ion-option value="3">Assistance</ion-option>
						<ion-option value="4">Supervision</ion-option>
						<ion-option value="5">Independent</ion-option>
					</ion-select>
				</ion-item>
				<ion-item *ngIf="assess.walkingSpec == 2">
					<ion-label stacked>Specify Walking Aid</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.walkingWalkingAid"></ion-textarea>
				</ion-item>
				<ion-item *ngIf="assess.walkingSpec == 3">
					<div item-left class="range-label">
						<ion-label>People<ion-badge class="range-badge">{{assess.walkingPeople}}</ion-badge></ion-label>
					</div>
					<ion-range class="range-slider" [(ngModel)]="assess.walkingPeople" min="0" max="3" step="1" snaps="true">
						<ion-label range-left>0</ion-label>
						<ion-label range-right>3</ion-label>
					</ion-range>
				</ion-item>
				<ion-item>
					<ion-label stacked>Additional Information</ion-label>
					<ion-textarea rows="3" [(ngModel)]="assess.walkingAdditional" placeholder="e.g. distance walked"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Other Instruction -->
	<ion-card class="footer-margin card-pad-bottom">
		<ion-card-header class="card-head-no-pad">Other Instructions</ion-card-header>
		<ion-card-content no-margin no-padding>
			<ion-list no-lines text-wrap>
				<ion-item>
					<ion-label stacked></ion-label>
					<ion-textarea rows="5" [(ngModel)]="assess.otherInstructions" placeholder="any other instructions"></ion-textarea>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

</ion-content>