<ion-header>
	<ion-navbar>
		<button menuToggle ion-button icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Your Activity</ion-title>
		<ion-buttons end>
			<button ion-button icon-only>
        <ion-icon name="calendar" color="secondary"></ion-icon>
      </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-card no-padding>
		<ion-card-content no-padding>
			<ion-card-header no-padding>
				<button ion-item (click)="toggleMessages()">
					<ion-grid no-padding>
						<ion-row>
							<ion-col>
								<h2>Notifications</h2>
							</ion-col>
							<ion-col text-right>
								<ion-badge color="secondary" class="search-badge">{{messages && messages.length}}</ion-badge>
							</ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</ion-card-header>
			<ion-list *ngIf="showMessages">
				<button ion-item *ngFor="let msg of messages" text-wrap class="list-item-underline" (click)="showMessage(msg)">
					<ion-grid no-padding>
						<ion-row>
							<ion-col><strong>{{msg.data.title}}</strong></ion-col>
							<ion-col text-right><span>{{msg.received.toLocaleDateString()}} {{msg.received.toLocaleTimeString()}}</span></ion-col>
						</ion-row>
						<ion-row>
							<ion-col><span>{{msg.data.body}}</span></ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="assessments && allowAssess" no-padding>
		<ion-card-content no-padding>
			<ion-card-header no-padding>
				<button ion-item (click)="toggleAssess()">
					<ion-grid no-padding>
						<ion-row>
							<ion-col>
								<h2>Care Assessments</h2>
							</ion-col>
							<ion-col text-right>
								<ion-badge color="secondary" class="search-badge">{{assessments.length}}</ion-badge>
							</ion-col>
						</ion-row>
					</ion-grid>
				</button>
			</ion-card-header>
			<ion-list *ngIf="showAssess">
				<button ion-item *ngFor="let assess of assessments" text-wrap (click)="openCareInitialAssessment(assess)" class="list-item-underline">
					<h2><strong>{{assess.name}}</strong></h2>
					<p>{{dateOf(assess)}}</p>
					<p>{{assess.address1}}</p>
				</button>
			</ion-list>
		</ion-card-content>
	</ion-card>

</ion-content>