<ion-header>
	<ion-navbar>
		<ion-title>Tenancies</ion-title>
		<ion-buttons end>
			<ion-badge color="secondary" class="search-badge">{{search.tenancies().length}}</ion-badge>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<search-bar ion-fixed placeholder="Search for people..."></search-bar>
	<div [virtualScroll]="search.tenancies()" class="filter-list" approxItemHeight="100px" approxItemWidth="380px">
		<div *virtualItem="let ten" class="tenancy-card-container">
			<tenancy-card (click)="gotoTenancy(ten)" [ten]="ten"></tenancy-card>
		</div>
	</div>
</ion-content>