<ion-header>
  <ion-navbar>
    <ion-title>Tenancies</ion-title>
    <ion-buttons end>
        <ion-badge color="secondary" class="search-badge">{{search.tenancies().length}}</ion-badge>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <search-bar placeholder="Search for people..."></search-bar>
    <!--<tenancy-card *ngFor="let ten of search.tenancies()" [ten]="ten" (click)="gotoTenancy(ten)"></tenancy-card>-->

    <ion-list [virtualScroll]="search.tenancies()">
      <div *virtualItem="let ten" class="tenancy-card-container" approxItemHeight="100px" approxItemWidth="420px;">
        <tenancy-card (click)="gotoTenancy(ten)" [ten]="ten"></tenancy-card>
      </div>
    </ion-list>

</ion-content>
