<ion-header>
    <ion-navbar>
        <button menuToggle ion-button icon-only>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Hello {{hailUser}}</ion-title>
        <ion-buttons *ngIf="showCloud" end>
            <button ion-button icon-only (click)="showDataServiceStatus()">
            <ion-icon name="cloud-download"  [style.color]="api.statusTypes[api.status].color"></ion-icon>
        </button>
        </ion-buttons>
        <!--<ion-buttons end>
        <button ion-button icon-only (click)="showFilters($event)">
            <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-buttons>-->
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher *ngIf="currentUser" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="crescent" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <search-bar *ngIf="currentUser" placeholder="Search for people and places..."></search-bar>

    <ion-card *ngIf="!currentUser">
        <ion-card-content>
            <p><i class="fa fa-cog fa-spin fa-fw"></i> Checking User Information, please wait...</p>
        </ion-card-content>
    </ion-card>

    <div ion-button *ngIf="currentUser" (click)="openDevelopmentList()" class="button-header">
        <ion-grid>
            <ion-row>
                <ion-col width-10>
                    <ion-icon name="pin" no-padding></ion-icon>
                </ion-col>
                <ion-col width-70 class="button-text"><span text-capitalize>Developments</span></ion-col>
                <ion-col width-20 class="col-right">
                    <i class="fa fa-cog fa-spin fa-2x" *ngIf="!search.developments()"></i>
                    <ion-badge class="search-badge" *ngIf="search.developments()" color="secondary">{{search.developments().length}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div ion-button *ngIf="currentUser" (click)="openTenancySearch()" class="button-header">
        <ion-grid>
            <ion-row>
                <ion-col width-10>
                    <ion-icon name="people" no-padding></ion-icon>
                </ion-col>
                <ion-col width-70 class="button-text"><span text-capitalize>Tenancies</span></ion-col>
                <ion-col width-20 class="col-right">
                    <i class="fa fa-cog fa-spin fa-2x" *ngIf="!search.tenancies()"></i>
                    <ion-badge class="search-badge" *ngIf="search.tenancies()" color="secondary">{{search.tenancies().length}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div ion-button *ngIf="currentUser" (click)="openFacilitySearch()" class="button-header">
        <ion-grid>
            <ion-row>
                <ion-col width-10>
                    <ion-icon name="podium" no-padding></ion-icon>
                </ion-col>
                <ion-col width-70 class="button-text"><span text-capitalize>Facilities</span></ion-col>
                <ion-col width-20 class="col-right">
                    <i class="fa fa-cog fa-spin fa-2x" *ngIf="!search.facilities()"></i>
                    <ion-badge class="search-badge" *ngIf="search.facilities()" color="secondary">{{search.facilities().length}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div ion-button *ngIf="currentUser" (click)="openClientSearch()" class="button-header">
        <ion-grid>
            <ion-row>
                <ion-col width-10>
                    <ion-icon name="contacts" no-padding></ion-icon>
                </ion-col>
                <ion-col width-70 class="button-text"><span text-capitalize>Clients</span></ion-col>
                <ion-col width-20 class="col-right">
                    <i class="fa fa-cog fa-spin fa-2x" *ngIf="!search.clients()"></i>
                    <ion-badge class="search-badge" *ngIf="search.clients()" color="secondary">{{search.clients().length}}</ion-badge>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <ion-fab *ngIf="currentUser" bottom right #fab>
        <button ion-fab color="secondary"><ion-icon name="pulse"></ion-icon></button>
        <ion-fab-list side="top">
            <!--<button ion-fab color="secondary" text-capitalize>
                <ion-label class="fab-md">Housing Annual Home Visit</ion-label>
                <ion-icon name="home"></ion-icon>
            </button>-->
            <button ion-fab color="secondary" text-capitalize (click)="addNewCareInitialAssessment($event, fab)">
                <ion-label class="fab-md">Care Initial Assessment</ion-label>
                <ion-icon name="clipboard"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>

</ion-content>