<ion-header>
	<ion-navbar>
		<ion-title>Developments</ion-title>
		<ion-buttons end>
			<ion-badge color="secondary" class="search-badge">{{search.developments().length}}</ion-badge>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
	<search-bar ion-fixed placeholder="Search for places..."></search-bar>
	<div [virtualScroll]="search.developments()" class="filter-list">
		<div *virtualItem="let dev" class="development-card-container">
			<development-card [dev]="dev" (click)="gotoDevelopment(dev)"></development-card>
		</div>
	</div>
</ion-content>